<section class="footer">

    <div class="foot" style="display: flex; justify-content: center; align-items: center;">
      <div class="footerlogo"></div>
    </div>
    <div class="box-container">

      <div class="box">
        <h3>socials</h3>
        <p>get updated about our new advancements and features by following psyCheck's socials</p>
        <div class="share">
          <a href="#" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-linkedin"></a>
          <a href="#" class="fab fa-instagram"></a>
        </div>
      </div>

      <div class="box">
        <h3>e-mail</h3>
        <a href="#" class="link">prit.nadoda.123@gmail.com</a>
        <a href="#" class="link">psyCheck@gmail.com</a>
      </div>

      <div class="box">
        <h3>call us</h3>
        <p>+91 1234567899</p>
        <p>+91 9987654321</p>
      </div>

      <div class="box">
        <h3>Tools & Services</h3>
        <p>We are famouse for <br>
          <a style="text-decoration: none; color: #3162d9;" href="/test">Mental Health Assassments</a><br>
          <a style="text-decoration: none; color: #3162d9;" href="/allreport">Personalized Reports</a><br>
          <a style="text-decoration: none; color: #3162d9;" href="/allexperts">Qualified experts</a><br>
        </p>
      </div>

    </div>

    <div class="credit">created by <span>pritnadoda</span> | all rights reserved!</div>

  </section>